[Unit]
Description=Bluetooth Audio Service
After=bluetooth.service network.target
Conflicts=pulseaudio.service pulseaudio.socket


[Service]
Type=simple
User=root
ExecStartPre=/usr/bin/pkill -9 pulseaudio || true
ExecStartPre=/bin/systemctl stop bluetooth
ExecStart=/bin/bash /usr/local/bin/start-bt-audio.sh
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target